@import '../../styles/variables';

.xrsuits {
	position: relative;
	.backgroundImage {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		overflow: hidden;
		width: 100%;
		height: auto;
		object-fit: cover;
		opacity: 0.9;
	}
	&__container {
		background-color: $color-black;

		display: flex;
		flex-direction: column;
		justify-content: center;
		// align-items: center;
		padding: 6.9vw 0; //100px 0, 1440px
	}
}
