@import '../../../../styles/variables';

@media (max-width: 768px) {
	.container {
		display: flex;
		flex: 1 1 auto;
		min-height: 33.333vw; //480px, 1440

		position: relative;
		border: 1px solid #5d495b;
		border-radius: 16px;
		background: linear-gradient(to top, rgba(255, 255, 255, 0.07), rgba(217, 217, 217, 0.14));
		padding: 2.222vw; //32px, 1440

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('/noise.webp');
			opacity: 0.05;
			pointer-events: none;
		}

		h3 {
			width: 100%;
			color: $color-blue;
		}
		h3:nth-child(2) {
			position: absolute;
			top: 2.2vw; //32px, 1440
			filter: blur(50px);
			overflow: hidden;
		}

		img {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 660px;
			height: auto;
		}
	}
}

@media (max-width: 768px) {
	.container {
        display: flex;
        align-items: start;
        width: 89.688vw; //287px, 320
        height: 89.688vw; //287px, 320

        position: relative;
        border: 1px solid #5d495b;
        border-radius: 16px;
        background: linear-gradient(to top, rgba(255, 255, 255, 0.07), rgba(217, 217, 217, 0.14));
        padding: 16px; //32px, 1440

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('/noise.webp');
            opacity: 0.05;
            pointer-events: none;
        }

        h3 {
            width: 100%;
        }

        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 660px;
            height: auto;
        }
    }
}