@import '../../styles/variables';

.partners {
	position: relative;
	.bgImage {
		position: absolute;
		// top: 567vw; //?, 1440
		// top: 712vw;;
		z-index: 1;
		bottom: 10vw;
	}
	&__container {
		padding: 100px $padding-desktop;
		background: #000;

		.headline {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding-bottom: 3.75vw; //54px, 1440

			div:nth-child(1) {
				position: relative;
				h2 {
					width: 100%;
					color: $color-blue;
				}
				h2:nth-child(2) {
					position: absolute;
					transform: translateY(-7.5vw); //-108px, 1440
					filter: blur(50px);
					overflow: hidden;
				}
			}

			h5 {
				width: 100%;
				text-align: center;
			}
		}

		div:nth-child(2) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2.222vw; //32px, 1440
			grid-auto-rows: minmax(100px, auto);
		}
	}
}

@media (max-width: 768px) {
	.partners {
		&__container {
			padding: 0 $padding-mobile;
			background: #000;

		
			.headline {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				padding-bottom: 3.75vw; //54px, 1440
	
				div:nth-child(1) {
					position: relative;
					h2 {
						width: 100%;
						color: $color-blue;
					}
					h2:nth-child(2) {
						position: absolute;
						transform: translateY(-7.5vw); //-108px, 1440
						filter: blur(50px);
						overflow: hidden;
					}
				}
	
				h5 {
					width: 100%;
					text-align: center;
				}
			}
			

			div:nth-child(2) {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 1.25vw; //4px, 320
				grid-auto-rows: minmax(1.25vw, auto);
			}
		}
	}
}
