@import '../../styles/variables';

.buttonContainer {
	display: inline-block;
	border-top-left-radius: 0;
	border-top-right-radius: 1.111vw; //16px, 1440
	border-bottom-right-radius: 1.111vw; //16px, 1440
	border-bottom-left-radius: 0;
	padding: 0.833vw 2.222vw 0.556vw 1.667vw; //12px 32px 8px 24px, 1440
	background-color: $color-white;

	span {
		font-family: Thunder-Medium-Italic;
		font-size: 2.222vw; //32px, 1440
		line-height: 2.444vw; //35.2px, 1440
		letter-spacing: 4%;
		color: $color-black;
		text-transform: uppercase;
	}
}

@media (max-width: 768px) {
	.buttonContainer {
		display: inline-block;
		border-top-left-radius: 0;
		border-top-right-radius: 5vw; //16px, 320
		border-bottom-right-radius: 5vw; //16px, 320
		border-bottom-left-radius: 0;
		padding: 2.5vw 7.5vw 0.625vw 5.625vw; //8px 24px 2px 18px, 320
		background-color: $color-white;

		span {
			font-family: Thunder-Medium-Italic;
			font-size: 7.5vw; //24px, 320
			line-height: 8.25vw; //26.4px, 320
			letter-spacing: 4%;
			color: $color-white;
		}
	}
}
