@import '/styles/variables';
@import '/styles/functions';

@media (min-width: 769px) {
	.partners {
		position: relative;

		.backgroundImageSmall {
			position: absolute;
			z-index: 1;
			bottom: 10vw;

			img {
				width: 100vw;
				height: 100%;
			}
		}

		&__container {
			padding: 6.944vw $padding-desktop; //100px $padding-desktop, 1440
			background-color: $color-background;

			.blocksContainer {
				display: grid;
				align-items: center;
				grid-template-columns: repeat(2, minmax(auto, auto));
				grid-auto-rows: minmax(100px, auto);
				gap: 2.222vw; //32px, 1440
				width: 100%;
				// padding-top: 32px;
			}
		}
	}
}

@media (max-width: 768px) {
	.partners {
		position: relative;
		padding-bottom: 10vw; //32px, 320

		.bgImage {
			position: absolute;
			// top: 567vw; //?, 1440
			// top: 712vw;;
			z-index: 1;
			bottom: 10vw;
		}

		&__container {
			padding: 0 $padding-mobile;
			background: $color-background;

			.blocksContainer {
				display: grid;
				align-items: center;
				grid-template-columns: repeat(3, minmax(auto, auto));
				grid-auto-rows: minmax(1.25vw, auto);
				gap: 1.25vw; //4px, 320
				width: 100%;

				// padding-top: 32px;
			}
		}
	}
}
