@import '../../../../styles/variables';

.smallItem {
	position: relative;
	height: 33.333vw; //480px, 1440

	flex: 0 0 29.653vw; //427px, 1440
	border-radius: 1.111vw; //16px, 1440
	background: linear-gradient(to top, rgba(255, 255, 255, 0.07), rgba(217, 217, 217, 0.14));
	padding: 2.222vw; //32px 0, 1440
	visibility: hidden;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('/noise.webp');
		opacity: 0.05;
		pointer-events: none;
	}

	h3 {
		width: 100%;
		color: $color-pink;
		text-transform: uppercase;
		z-index: 10;
		text-shadow: 2px 2px 48px $color-pink; 
	}

	
}

@media (max-width: 768px) {
	.smallItem {
		display: flex;
		align-items: start;
		flex: 1 0 auto;
		position: relative;
		width: 89.688vw; //287px, 320
		height: 89.688vw; //287px, 320
		border: 1px solid #5d495b;
		border-radius: 16px;
		background: linear-gradient(to top, rgba(255, 255, 255, 0.07), rgba(217, 217, 217, 0.14));
		padding: 16px; //32px 0, 1440

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('/noise.webp');
			opacity: 0.05;
			pointer-events: none;
		}

		h3 {
			width: 100%;
			text-transform: uppercase;
		}
	}
}
