@import '/styles/variables';
@import '/styles/functions';

@media (min-width: 769px) {
	.smallItem {
		position: relative;
		height: px-to-vw(480, $base-width-desktop);

		flex: 0 0 29.653vw; //427px, 1440
		border-radius: px-to-vw(16, $base-width-desktop);
		background: $gradient-dark;
		padding: px-to-vw(32, $base-width-desktop);
		visibility: hidden;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('/noise.webp');
			opacity: 0.05;
			pointer-events: none;
		}

		h3 {
			width: 100%;
			color: $color-pink;
			text-transform: uppercase;
			z-index: 10;
			text-shadow: 2px 2px 48px $color-pink;
		}
	}
}

@media (max-width: 768px) {
	.smallItem {
		position: relative;
		width: px-to-vw(287, $base-width-mobile);
		height: px-to-vw(287, $base-width-mobile);

		display: flex;
		align-items: start;
		flex: 1 0 auto;
		border: 1px solid #5d495b;
		border-radius: px-to-vw(16, $base-width-mobile);
		background: $gradient-dark;
		padding: px-to-vw(16, $base-width-mobile);

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('/noise.webp');
			opacity: 0.05;
			pointer-events: none;
		}

		h3 {
			width: 100%;
			color: $color-pink;
			text-transform: uppercase;
			text-shadow: 2px 2px 48px $color-pink;
		}
	}
}
