.largeItem {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 1 / -1;
	border: 1px solid #5d495b;
	border-radius: 1.111vw; //16px, 1440
	background: linear-gradient(to top, rgba(255, 255, 255, 0.07), rgba(217, 217, 217, 0.14));
	padding: 3.75vw 0; //54px 0, 1440

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('/noise.webp');
		opacity: 0.05;
		pointer-events: none;
	}

	img {
		width: 24.653vw; //355px, 1440
		height: auto
	}
}

@media (max-width: 768px) {
	.largeItem {
		grid-column: 1 / -1; 

		position: relative;
		border: 1px solid #5d495b;
		border-radius: 3.75vw; //12px, 320
		background: linear-gradient(to top, rgba(255, 255, 255, 0.07), rgba(217, 217, 217, 0.14));
		padding: 3.75vw 0; //54px 0, 1440
		display: flex;
		align-items: center;
		justify-content: center;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('/noise.webp');
			opacity: 0.05;
			pointer-events: none;
		}

		img {
			width: 60vw; //192px, 320
			height: auto;
		}
	}
}
