@import '../../styles/variables';

@media (min-width: 769px) {
	.xrsuits {
		position: relative;
		// overflow-x: hidden;

		&__container {
			background-color: #131419;

			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 6.9vw 0;
			// gap: 320px;
		}
	}
}

@media (max-width: 768px) {
	.xrsuits {
		position: relative;
		// overflow-x: hidden;

		&__container {
			background-color: #131419;

			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 6.9vw 0;
			gap: 12.5vw; //40px, 320
		}
	}
}
