@import '../../styles/variables';

.xrsuits {
	position: relative;

	&__container {
		background-color: $color-black;

		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 6.9vw 0;
	}
}
