@import '/styles/variables';
@import '/styles/functions';

@media (min-width: 769px) {
	.xrsuits {
		position: relative;

		&__container {
			background-color: $color-background;

			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 6.9vw 0;
		}
	}
}

@media (max-width: 768px) {
	.xrsuits {
		position: relative;

		&__container {
			background-color: $color-background;

			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 6.9vw 0;
			gap: x-to-vw(40, $base-width-mobile);
		}
	}
}
