@import '../../../../styles/variables';

.largeItem {
	flex: 1 1 auto;
	height: 47.083vw; //678px, 1440
	position: relative;
	// border: 1px solid #5d495b;
	border-radius: 1.111vw; //16px, 1440
	background: linear-gradient(to top, rgba(255, 255, 255, 0.07), rgba(217, 217, 217, 0.14));
	padding: 2.222vw; //32px 0, 1440

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('/noise.webp');
		opacity: 0.05;
		pointer-events: none;
	}

	h3 {
		width: 100%;

		span:nth-child(1) {
			color: $color-blue;
		}
		span:nth-child(2) {
			color: $color-pink;
		}
	}
	h3:nth-child(2) {
		position: absolute;
		top: 2.2vw; //32px, 1440
		filter: blur(50px);
		overflow: hidden;

		span:nth-child(1) {
			color: $color-blue;
		}
		span:nth-child(2) {
			color: $color-pink;
		}
	}

	.imageContainer {
		position: absolute;
		width: 76.389vw; //1100px, 1440
		height: auto;
		right: 3.194vw; //46px, 1440
		bottom: 0.069vw; //1px, 1440
		z-index: -1;
		object-fit: cover;

		.pinkBlur {
			position: absolute;
			width: 23.611vw; //340px, 1440
			height: 23.611vw; //340px, 1440;
			background-color: $color-pink;
			top: 18.819vw; //271px, 1440;
			left: 8.125vw; //117px, 1440
			border-radius: 50%;
			opacity: 0.65;
			filter: blur(10vmax);
		}

		.blueBlur {
			position: absolute;
			width: 23.611vw; //340px, 1440
			height: 23.611vw; //340px, 1440;
			background-color: $color-blue;
			right: 9.583vw; //138px, 1440
			top: 18.958vw; //273px, 1440
			border-radius: 50%;
			opacity: 0.65;
			filter: blur(10vmax);
		}
	}
}

@media (max-width: 768px) {
	.largeItem {
		width: 89.688vw; //287px, 320
		height: 89.688vw; //287px, 320
		position: relative;
		border: 1px solid #5d495b;
		border-radius: 16px;
		background: linear-gradient(to top, rgba(255, 255, 255, 0.07), rgba(217, 217, 217, 0.14));
		padding: 16px; //32px 0, 1440

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('/noise.webp');
			opacity: 0.05;
			pointer-events: none;
		}

		h3 {
			width: 100%;
		}

		.imageContainer {
			position: absolute;
			width: 96.875vw; //310px, 320
			height: auto;
			right: -3.125vw; //-10px, 320
			bottom: 3.125vw; //10px, 320
			z-index: -1;
			object-fit: cover;

			.pinkBlur {
				position: absolute;
				width: 23.611vw; //340px, 1440
				height: 23.611vw; //340px, 1440;
				background-color: $color-pink;
				top: 18.819vw; //271px, 1440;
				left: 8.125vw; //117px, 1440
				border-radius: 50%;
				opacity: 0.65;
				filter: blur(10vmax);
			}

			.blueBlur {
				position: absolute;
				width: 23.611vw; //340px, 1440
				height: 23.611vw; //340px, 1440;
				background-color: $color-blue;
				right: 9.583vw; //138px, 1440
				top: 18.958vw; //273px, 1440
				border-radius: 50%;
				opacity: 0.65;
				filter: blur(10vmax);
			}
		}
	}
}
