@import '/styles/variables';
@import '/styles/functions';

@media (min-width: 769px) {
	.largeItem {
		position: relative;
		flex: 1 1 auto;
		height: px-to-vw(678, $base-width-desktop);
		border-radius: px-to-vw(16, $base-width-desktop);
		background: $gradient-dark;
		padding: px-to-vw(32, $base-width-desktop);

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('/noise.webp');
			opacity: 0.05;
			pointer-events: none;
		}

		h3 {
			width: 100%;
			text-transform: uppercase;

			span:nth-child(1) {
				color: $color-blue;
				text-shadow: 2px 2px 72px $color-blue;
			}
			span:nth-child(2) {
				color: $color-pink;
				text-shadow: 2px 2px 72px $color-pink;
			}
		}

		.imageContainer {
			position: absolute;
			width: px-to-vw(1100, $base-width-desktop);
			height: auto;
			right: px-to-vw(46, $base-width-desktop);
			bottom: px-to-vw(1, $base-width-desktop);
			z-index: -1;
			object-fit: cover;

			.pinkBlur {
				position: absolute;
				width: 15.611vw;
				height: 15.611vw;
				background-color: $color-pink;
				top: px-to-vw(271, $base-width-desktop);
				left: px-to-vw(117, $base-width-desktop);
				border-radius: 50%;
				opacity: 0.65;
				filter: blur(5vmax);
			}

			.blueBlur {
				position: absolute;
				width: 15.611vw;
				height: 15.611vw;
				background-color: $color-blue;
				right: px-to-vw(138, $base-width-desktop);
				top: px-to-vw(273, $base-width-desktop);
				border-radius: 50%;
				opacity: 0.65;
				filter: blur(5vmax);
			}
		}
	}
}

@media (max-width: 768px) {
	.largeItem {
		position: relative;
		width: px-to-vw(287, $base-width-mobile);
		height: px-to-vw(287, $base-width-mobile);

		border: 1px solid #5d495b;
		border-radius: px-to-vw(16, $base-width-mobile);
		background: $gradient-dark;
		padding: px-to-vw(16, $base-width-mobile);

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('/noise.webp');
			opacity: 0.05;
			pointer-events: none;
		}

		h3 {
			width: 100%;
			text-transform: uppercase;

			span:nth-child(1) {
				color: $color-blue;
				text-shadow: 2px 2px 72px $color-blue;
			}
			span:nth-child(2) {
				color: $color-pink;
				text-shadow: 2px 2px 72px $color-pink;
			}
		}

		.imageContainer {
			position: absolute;
			width: px-to-vw(310, $base-width-mobile);
			height: auto;
			right: px-to-vw(-10, $base-width-mobile);
			bottom: px-to-vw(10, $base-width-mobile);
			z-index: -1;
			object-fit: cover;

			.pinkBlur {
				position: absolute;
				width: 23.611vw; //340px, 1440
				height: 23.611vw; //340px, 1440;
				background-color: $color-pink;
				top: 18.819vw; //271px, 1440;
				left: 8.125vw; //117px, 1440
				border-radius: 50%;
				opacity: 0.65;
				filter: blur(16px);
			}

			.blueBlur {
				position: absolute;
				width: 23.611vw; //340px, 1440
				height: 23.611vw; //340px, 1440;
				background-color: $color-blue;
				right: 9.583vw; //138px, 1440
				top: 18.958vw; //273px, 1440
				border-radius: 50%;
				opacity: 0.65;
				filter: blur(16px);
			}
		}
	}
}
