@import '../../../../styles/variables';

@media (min-width: 769px) {
	.largeItem {
		position: relative;
		flex: 1 1 auto;
		height: 47.083vw; //678px, 1440
		border-radius: 1.111vw; //16px, 1440
		background: $gradient-dark;
		padding: 2.222vw; //32px 0, 1440

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('/noise.webp');
			opacity: 0.05;
			pointer-events: none;
		}

		h3 {
			width: 100%;
			text-transform: uppercase;

			span:nth-child(1) {
				color: $color-blue;
				text-shadow: 2px 2px 72px $color-blue;
			}
			span:nth-child(2) {
				color: $color-pink;
				text-shadow: 2px 2px 72px $color-pink;
			}
		}

		.imageContainer {
			position: absolute;
			width: 76.389vw; //1100px, 1440
			height: auto;
			right: 3.194vw; //46px, 1440
			bottom: 0.069vw; //1px, 1440
			z-index: -1;
			object-fit: cover;

			.pinkBlur {
				position: absolute;
				width: 15.611vw;
				height: 15.611vw;
				background-color: $color-pink;
				top: 18.819vw; //271px, 1440;
				left: 8.125vw; //117px, 1440
				border-radius: 50%;
				opacity: 0.65;
				filter: blur(5vmax);
			}

			.blueBlur {
				position: absolute;
				width: 15.611vw;
				height: 15.611vw;
				background-color: $color-blue;
				right: 9.583vw; //138px, 1440
				top: 18.958vw; //273px, 1440
				border-radius: 50%;
				opacity: 0.65;
				filter: blur(5vmax);
			}
		}
	}
}

@media (max-width: 768px) {
	.largeItem {
		position: relative;
		width: 89.688vw; //287px, 320
		height: 89.688vw; //287px, 320

		border: 1px solid #5d495b;
		border-radius: 5vw; //16px, 320
		background: $gradient-dark;
		padding: 5vw; //16px, 320

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('/noise.webp');
			opacity: 0.05;
			pointer-events: none;
		}

		h3 {
			width: 100%;
			text-transform: uppercase;

			span:nth-child(1) {
				color: $color-blue;
				text-shadow: 2px 2px 72px $color-blue;
			}
			span:nth-child(2) {
				color: $color-pink;
				text-shadow: 2px 2px 72px $color-pink;
			}
		}

		.imageContainer {
			position: absolute;
			width: 96.875vw; //310px, 320
			height: auto;
			right: -3.125vw; //-10px, 320
			bottom: 3.125vw; //10px, 320
			z-index: -1;
			object-fit: cover;

			.pinkBlur {
				position: absolute;
				width: 23.611vw; //340px, 1440
				height: 23.611vw; //340px, 1440;
				background-color: $color-pink;
				top: 18.819vw; //271px, 1440;
				left: 8.125vw; //117px, 1440
				border-radius: 50%;
				opacity: 0.65;
				filter: blur(16px);
			}

			.blueBlur {
				position: absolute;
				width: 23.611vw; //340px, 1440
				height: 23.611vw; //340px, 1440;
				background-color: $color-blue;
				right: 9.583vw; //138px, 1440
				top: 18.958vw; //273px, 1440
				border-radius: 50%;
				opacity: 0.65;
				filter: blur(16px);
			}
		}
	}
}
