@import '/styles/variables';

@media (min-width: 769px) {
	.marqueeContainer {
		transform: rotate(-4deg);
		margin: 0 -8.403vw; //0 -121, 1440
		z-index: 6;

		.imageWrapper {
			transform: scale(1.01);
			height: 4.444vw; //64px, 1440
			width: 100%;
			transform: translateX(2px);
		}
	}
}

@media (max-width: 768px) {
	.marqueeContainer {
		transform: rotate(-4deg);
		margin: 0 -5.072vw; //0 -21, 414px
		z-index: 6;

		.imageWrapper {
			transform: scale(1.01);
			width: 100%;
			height: auto;
			transform: translateX(2px);
		}
	}
}
