@import '../../styles/variables';

.ourTeam {
	position: relative;

	.bgImage {
		position: absolute;
		z-index: 1;
		top: 1vw;
		img {
			width: 100vw;
			height: 100%;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 4.4vw; //64px, 1440
		padding: $padding-desktop;
		z-index: 1;
		background-color: $color-black;
		
		.gridContainer {
			z-index: 1;
			display: grid;
			grid-template-columns: repeat(3, minmax(auto, auto));
			justify-content: space-between;
			align-items: center;
			row-gap: 5.5vw; //88px, 1600
			width: 100%;
		}
	}
}

@media (max-width: 768px) {
	.ourTeam {
		&__container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 5vw; //16px, 320
			padding: $padding-mobile;
			background: $color-black;

			.gridContainer {
				display: grid;
				grid-template-columns: repeat(2, minmax(auto, auto));
				justify-content: space-between;
				align-items: center;
				// row-gap: 5.5vw; //88px, 1600
				gap: 5vw; //16px, 320
				width: 100%;
			}
		}
	}
}
