@import '/styles/variables';
@import '/styles/functions';

@media (min-width: 769px) {
	.ourTeam {
		position: relative;

		.bgImage {
			position: absolute;
			z-index: 1;
			top: 1vw;

			img {
				width: 100vw;
				height: 100%;
			}
		}

		&__container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: $padding-desktop;
			z-index: 1;
			background-color: $color-background;

			.marqueeRefContainer1 {
				padding-bottom: px-to-vw(64, $base-width-desktop);
			}
			.marqueeRefContainer2 {
				margin-bottom: px-to-vw(100, $base-width-desktop);;
			}

			.marqueeRefContainer {
				z-index: 6;
			}

			.gridContainer {
				z-index: 1;
				display: grid;
				grid-template-columns: repeat(3, minmax(auto, auto));
				justify-content: space-between;
				align-items: center;
				row-gap: px-to-vw(88, $base-width-desktop);
				width: 100%;
			}
		}
	}
}

@media (max-width: 768px) {
	.ourTeam {
		position: relative;

		&__container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: $padding-mobile;
			background: $color-background;

			.marqueeRefContainer {
				z-index: 6;
			}

			.marqueeRefContainer1 {
				padding-bottom: px-to-vw(32, $base-width-mobile);
			}
			.marqueeRefContainer2 {
				padding-bottom: px-to-vw(32, $base-width-mobile);
			}

			.gridContainer {
				display: grid;
				grid-template-columns: repeat(2, minmax(auto, auto));
				justify-content: space-between;
				align-items: center;
				gap: px-to-vw(16, $base-width-mobile);
				width: 100%;
			}
		}
	}
}
