@import '../../styles/variables';

.proprietary {
	&__container {
		position: relative;
		width: 100vw;
		height: 100vh;

		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: start;
		padding: $padding-desktop; // $padding-desktop, 1440

		.headline {
			div:nth-child(1) {
				position: relative;
				h2 {
					width: 100%;
					color: $color-blue;
				}
				h2:nth-child(2) {
					position: absolute;
					transform: translateY(-7.5vw); //-108px, 1440
					filter: blur(50px);
					overflow: hidden;
				}
			}
			h5 {
				width: 53.153vw; //?px, 1440
			}
		}

		.backgroundImage {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			overflow: hidden;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

@media (max-width: 768px) {
	.proprietary {
		&__container {
			position: relative;
			width: 100vw;
			height: 100vw;
	
			display: flex;
			flex-direction: column;
			justify-content: end;
			align-items: start;
			padding: $padding-mobile; // $padding-mobile, 320
	
			.headline {
				div:nth-child(1) {
					position: relative;
					h2 {
						width: 100%;
						color: $color-blue;
					}
					h2:nth-child(2) {
						position: absolute;
						transform: translateY(-12.5vw); //-108px, 1440
						filter: blur(50px);
						overflow: hidden;
					}
				}
				h5 {
					width: 88.75vw; //286px, 320
				}
			}
	
			.backgroundImage {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: -1;
				overflow: hidden;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: 60% 50%;
			}
		}
	}
}

