@import '/styles/variables';
@import '/styles/functions';

@media (min-width: 769px) {
	.headlineCenter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-bottom: px-to-vw(48, $base-width-desktop);

		h2 {
			width: 100%;
			text-align: center;

			span:nth-child(1) {
				color: $color-blue;
				padding-right: px-to-vw(16, $base-width-desktop);
			}

			span:nth-child(2) {
				color: $color-pink;
			}
		}

		h5 {
			text-align: center;
		}
	}
}

@media (max-width: 768px) {
	.headlineCenter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-bottom: px-to-vw(16, $base-width-mobile);

		h2 {
			width: 100%;
			text-align: center;

			span:nth-child(1) {
				color: $color-blue;
				padding-right: px-to-vw(8, $base-width-mobile);
			}

			span:nth-child(2) {
				color: $color-pink;
			}
		}

		h5 {
			text-align: center;
		}
	}
}
