@import '/styles/variables';
@import '/styles/functions';

@media (min-width: 769px) {
	.mediumItem {
		position: relative;
		grid-column: span 1;

		display: flex;
		align-items: center;
		justify-content: center;

		border: 1px solid #5d495b;
		border-radius: px-to-vw(16, $base-width-desktop);
		background: $gradient-dark;
		padding: 3.75vw 0; //54px 0, 1440
		cursor: pointer;
		z-index: 10;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('/noise.webp');
			opacity: 0.05;
			pointer-events: none;
		}

		img {
			width: px-to-vw(444, $base-width-desktop);
			height: auto;
		}
	}
}

@media (max-width: 768px) {
	.mediumItem {
		position: relative;
		grid-column: span 1;

		display: flex;
		align-items: center;
		justify-content: center;

		border: 1px solid #5d495b;
		border-radius: px-to-vw(8, $base-width-mobile);
		background: $gradient-dark;
		padding: 3.75vw 0; //54px 0, 1440

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('/noise.webp');
			opacity: 0.05;
			pointer-events: none;
		}

		img {
			width: px-to-vw(104, $base-width-mobile);
			height: auto;
		}
	}
}
