@import '../../../styles/variables';

.links {
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3.333vw; //48px, 1440

        li {
            font-size: 1.389vw; //20px, 1440
            text-transform: uppercase;
            color: $color-white;
            font-family: Suisse-Intl-Regular;
        }
    }
}