@import '/styles/variables';
@import '/styles/functions';

.links {
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: px-to-vw(48, $base-width-desktop);

		li {
			a {
				span {
					font-family: Suisse-Intl-Regular;
					font-size: px-to-vw(20, $base-width-desktop);
					line-height: 0.9988em;
					letter-spacing: -1%;
					text-transform: uppercase;
					color: $color-white;
				}
			}
		}
	}
}
