.footer {
	&__container {
		background: rgba(29, 30, 33, 1);
		padding-top: 6.944vw; //100px, 1440
		padding: 0 16px;
		padding-bottom: 64px;

		.suka {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 100px;

			h2 {
			}
		}
	}
}

@media (max-width: 768px) {
	.footer {
		&__container {
			background: rgba(29, 30, 33, 1);
			padding-top: 12.5vw; //40px, 320
			padding-bottom: 32px;
	
			.suka {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-bottom: 100px;
	
				h2 {
				}
			}
		}
	}
}
