@import '../../styles/variables';

.mission {
	&__container {
		position: relative;

		width: 100vw;
		// height: 38.889vw; //560px, 1440
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;

		padding: 0 $padding-desktop; //45px  $padding-desktop, 1440

		h2 {
			width: 100%;
		}

		h5 {
			width: 37.153vw; //535px, 1440
		}

		.backgroundImage {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			overflow: hidden;
            width: 100%;
				height: 100%;
		}
	}
}

@media (max-width: 768px) {
	.mission {
		&__container {
			position: relative;

			width: 100vw;
			height: 97.5vw; //312px, 320

			display: flex;
			flex-direction: column;
			justify-content: end;
			align-items: start;

			padding: $padding-mobile; // $padding-mobile, 320

			h5 {
				width: 88.75vw; //286px, 320
			}

			.backgroundImage {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: -1;
				object-fit: cover;
				object-position: 60% 50%;
				width: 100%;
				height: 100%;
			}
		}
	}
}
