@import '../../../styles/variables';

@media (min-width: 769px) {
	.items {
		display: flex;
		flex-direction: column;
		padding: 0 $padding-desktop;
		gap: 2.222vw; //32px, 1440

		.container1 {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 2.222vw; //32px, 1440
		}

		.container2 {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 2.222vw; //32px, 1440
		}

		.container3 {
			display: flex;
		}
	}
}

@media (max-width: 768px) {
	.items {
		display: flex;
		flex-direction: column;
		padding: 0 $padding-mobile;
		gap: 5vw; //16px, 320

		.container1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			gap: 5vw; //16px, 320
		}

		.container2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			gap: 5vw; //16px, 320
		}

		.container3 {
		}
	}
}
