@import '/styles/variables';
@import '/styles/functions';

@media (min-width: 769px) {
	.items {
		display: flex;
		flex-direction: column;
		padding: 0 $padding-desktop;
		gap: px-to-vw(32, $base-width-desktop);

		.container1 {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: px-to-vw(32, $base-width-desktop);
		}

		.container2 {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: px-to-vw(32, $base-width-desktop);
		}

		.container3 {
			display: flex;
		}
	}
}

@media (max-width: 768px) {
	.items {
		display: flex;
		flex-direction: column;
		padding: 0 $padding-mobile;
		gap: px-to-vw(16, $base-width-mobile);

		.container1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			gap: px-to-vw(16, $base-width-mobile);
		}

		.container2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			gap: px-to-vw(16, $base-width-mobile);
		}

		.container3 {
		}
	}
}
