@import '../../../styles/variables';

.links {
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 3.333vw; //48px, 1440

		li {
			a {
				span {
					font-family: Suisse-Intl-Regular;
					font-size: 1.389vw; //20px, 1440
					line-height: 0.9988em;
					letter-spacing: -1%;
					text-transform: uppercase;
					color: $color-white;
				}
			}
		}
	}
}
