@import '../../styles/variables';

.masthead {
	&__container {
		position: relative;
		height: 100vh;
		width: 100vw;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		// background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

		.title {
			text-align: center;
			position: relative;

			h1:nth-child(1) {
				opacity: 0;
				visibility: hidden;
				span:nth-child(1) {
					display: inline-block;
					color: $color-pink;
					// opacity: 0;
				}
				span:nth-child(2) {
					position: absolute;
					left: 5vw;
					top: 0;
					filter: blur(50px);
					color: $color-pink;
					overflow: hidden;
				}
			}
			h1:nth-child(3) {
				opacity: 0;
				visibility: hidden;
				span:nth-child(1) {
					display: inline-block;
					color: $color-white;
					// opacity: 0;
				}
				span:nth-child(2) {
					position: absolute;
					left: -1vw;
					top: 1vw;
					filter: blur(50px);
					color: $color-white;
					overflow: hidden;
				}
			}
			h1:nth-child(5) {
				opacity: 0;
				visibility: hidden;
				span:nth-child(1) {
					display: inline-block;

					color: $color-blue;
					// opacity: 0;
					font-size: 15vw; //216px, 1440
					transform: rotate(-4deg);

					@media (max-width: 768px) {
						font-size: 35vw; //112px, 320
						transform: rotate(-4deg) translateY(6.415vw); //414, 10px
					}
				}
				span:nth-child(2) {
					position: absolute;
					left: 5vw; //72px, 1440
					filter: blur(50px);
					display: inline-block;

					color: $color-blue;
					font-size: 15vw; //216px, 1440
					transform: rotate(-4deg);
					overflow: hidden;

					@media (max-width: 768px) {
						font-size: 35vw; //112px, 320
						transform: rotate(-4deg) translateY(6.415vw); //414, 10px
					}
				}
			}
		}

		.arrowDown {
			visibility: hidden;
			position: absolute;
			bottom: 4.444vw; //64px, 1440
		}
		.backgroundImage {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			overflow: hidden;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scale(2);
		}
	}
}

@media (max-width: 768px) {
	.masthead {
		&__container {
			position: relative;
			height: 100vh;
			width: 100vw;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			// background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

			.title {
				text-align: center;
				position: relative;

				h1:nth-child(1) {
					opacity: 0;
					visibility: hidden;
					span:nth-child(1) {
						display: inline-block;
						color: $color-pink;
						// opacity: 0;
					}
					span:nth-child(2) {
						position: absolute;
						left: 5vw;
						top: 0;
						filter: blur(50px);
						color: $color-pink;
						overflow: hidden;
					}
				}
				h1:nth-child(3) {
					opacity: 0;
					visibility: hidden;
					span:nth-child(1) {
						display: inline-block;
						color: $color-white;
						// opacity: 0;
					}
					span:nth-child(2) {
						position: absolute;
						left: -1vw;
						top: 1vw;
						filter: blur(50px);
						color: $color-white;
						overflow: hidden;
					}
				}
				h1:nth-child(5) {
					opacity: 0;
					visibility: hidden;
					span:nth-child(1) {
						display: inline-block;

						color: $color-blue;
						// opacity: 0;
						font-size: 15vw; //216px, 1440
						transform: rotate(-4deg);

						@media (max-width: 768px) {
							font-size: 35vw; //112px, 320
							transform: rotate(-4deg) translateY(6.415vw); //414, 10px
						}
					}
					span:nth-child(2) {
						position: absolute;
						left: 5vw; //72px, 1440
						filter: blur(50px);
						display: inline-block;

						color: $color-blue;
						font-size: 15vw; //216px, 1440
						transform: rotate(-4deg);
						overflow: hidden;

						@media (max-width: 768px) {
							font-size: 35vw; //112px, 320
							transform: rotate(-4deg) translateY(6.415vw); //414, 10px
						}
					}
				}
			}

			.arrowDown {
				// на мобилке не отображается
			}
			.backgroundImage {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: -1;
				overflow: hidden;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transform: scale(2);
			}
		}
	}
}
