@import '../../../styles/variables';

@media (min-width: 769px) {
	.card {
		width: 26.458vw; //381px, 1440
		height: 34.722vw; //500px, 1440

		padding: 1.389vw; //20px, 1440
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: end;
		border-radius: 1.111vw; //16px, 1440

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		box-sizing: border-box;
		z-index: 5;
	
		h4 {
			width: 100%;
		}

		div:nth-child(2) {
			background-color: #2DE8E8;
			border-radius: 24px;
			padding: 0.278vw 3.056vw; //4px 44px, 1440
			width: 100%;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				font-family: Suisse-Intl-Regular;
				font-size: 1.667vw; //24px, 1440
				text-transform: uppercase;
			}
		}
	}
}

@media (max-width: 768px) {
	.card {
		width: 42.188vw; //135px, 320
		height: 62.5vw; //200px, 320
		border-radius: 4vw; //16px, 320
		background-color: transparent;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		box-sizing: border-box;
		padding: 2.5vw; //8px, 320
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: end;

		h4 {
			width: 100%;
		}

		button {
			background-color: #2DE8E8;
			border-radius: 24px;
			// padding: 1.25vw 13.75vw; //4px 44px, 320
			width: 100%;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			
			span {
				font-family: Suisse-Intl-Regular;
				font-size: 4.375vw; //14px, 320
				text-transform: uppercase;
			}
		}
	}
}
