@import '../../../styles/variables';

@media (min-width: 768px) {
	.card {
		position: relative;
		width: 26.458vw; //381px, 1440
		height: 34.722vw; //500px, 1440

		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: end;
		padding: 1.389vw; //20px, 1440
		z-index: 5;

		h4 {
			width: 100%;
		}

		div:nth-child(2) {
			display: flex;
			align-items: center;
			justify-content: center;

			background-color: #2de8e8;
			border-radius: 1.667vw; //24px, 1440
			padding: 0.278vw 0; //4px 0, 1440
			width: 100%;

			span {
				font-family: Suisse-Intl-Regular;
				font-size: 1.667vw; //24px, 1440
				text-transform: uppercase;
			}
		}

		.backgroundImage {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			overflow: hidden;
			// width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 1.111vw; //16px, 1440
		}
	}
}

@media (max-width: 768px) {
	.card {
		position: relative;
		width: 42.188vw; //135px, 320
		height: 62.5vw; //200px, 320

		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: end;
		padding: 2.5vw; //8px, 320

		h4 {
			width: 100%;
		}

		div:nth-child(2) {
			display: flex;
			align-items: center;
			justify-content: center;

			background-color: #2de8e8;
			border-radius: 7.5vw;
			padding: 1.25vw 0; //4px 0, 320
			width: 100%;

			span {
				font-family: Suisse-Intl-Regular;
				font-size: 4.375vw; //14px, 320
				text-transform: uppercase;
			}
		}

		.backgroundImage {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			overflow: hidden;
			// width: 100%;
			// height: 100%;
			object-fit: cover;
			border-radius: 4vw; //16px, 320
		}
	}
}
