@import '../../styles/variables';

.ourDivision {
	position: relative;
	.bgImage {
		position: absolute;
		z-index: 1;
		bottom: 34vw;
		left: 32vw;
		img {
			width: 100vw;
			height: 100%;
		}
	}
	&__container {
		background-color: $color-black;
		padding: 6.9vw $padding-desktop; //100px desktop, 1440
		z-index: 10;

		.container {
			padding-top: 3.3vw; //48px, 1440
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1.389vw; //20px, 1440
			grid-auto-rows: minmax(100px, auto);
		}
	}
}

@media (max-width: 768px) {
	.ourDivision {
		&__container {
			background: $color-black;
			padding:  $padding-mobile;

			.container {
				padding-top: 15vw; //48px, 320
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 6.25vw; //20px, 320
				grid-auto-rows: minmax(100px, auto);
			}
		}
	}
}
