.smallItem {
	position: relative;
	height: 13.819vw; //199px, 1440

	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: span 1;

	border: 1px solid #5d495b;
	border-radius: 16px;
	background: linear-gradient(to top, rgba(255, 255, 255, 0.07), rgba(217, 217, 217, 0.14));
	padding: 3.75vw 0; //54px 0, 1440
	backdrop-filter: blur(32px);
	z-index: 1;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('/noise.webp');
		opacity: 0.05;
		pointer-events: none;
	}

	img {
		width: 22.361vw; //322px, 1440
		min-height: 100%;
		object-fit: cover;
	}
}

@media (max-width: 768px) {
	.smallItem {
		position: relative;
		height: 13.819vw; //199px, 1440

		display: flex;
		justify-content: center;
		align-items: center;
		grid-column: span 1;

		border: 1px solid #5d495b;
		border-radius: 16px;
		background: linear-gradient(to top, rgba(255, 255, 255, 0.07), rgba(217, 217, 217, 0.14));
		padding: 2.5vw 0; //54px 0, 1440

		img {
			width: 100%;
			height: auto;
			padding: 3.125vw 2.5vw; //10px, 8px
			object-fit: cover;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('/noise.webp');
			opacity: 0.05;
			pointer-events: none;
		}
	}
}
