@import '/styles/variables';

@media (min-width: 769px) {
	.title {
		text-align: center;

		h1:nth-child(2) {
			display: inline-block;
			color: $color-pink;
			text-shadow: 2px 2px 72px $color-pink;
			opacity: 0;
		}
		h1:nth-child(4) {
			display: inline-block;
			color: $color-white;
			text-shadow: 2px 2px 72px $color-white;
			opacity: 0;
		}
		h1:nth-child(6) {
			opacity: 0;
			span:nth-child(1) {
				display: inline-block;
				color: $color-blue;
				font-size: 15vw; //216px, 1440
				text-shadow: 2px 2px 72px $color-blue;
				transform: translate(0, 1.667vw) rotate(-4deg); //0 24px, 1440
			}
		}
	}
}

@media (max-width: 768px) {
	.title {
		text-align: center;

		h1:nth-child(2) {
			display: inline-block;
			color: $color-pink;
			text-shadow: 2px 2px 72px $color-pink;
			opacity: 0;
		}
		h1:nth-child(4) {
			display: inline-block;
			color: $color-white;
			text-shadow: 2px 2px 72px $color-white;
			opacity: 0;
		}
		h1:nth-child(6) {
			opacity: 0;
			span:nth-child(1) {
				display: inline-block;
				color: $color-blue;
				font-size: 35vw; //112px, 320
				transform: rotate(-4deg) translateY(6.688vw); //320, 20px
				text-shadow: 2px 2px 72px $color-blue;
			}
		}
	}
}
