@import './variables';
@import './functions';

h1 {
	font-size: px-to-vw(128, $base-width-desktop);
	font-family: 'Thunder-Semibold-Italic';
	text-transform: uppercase;
	line-height: 0.8em;
	letter-spacing: 0.05em;

	@media (max-width: 768px) {
		font-size: px-to-vw(56, $base-width-mobile);
		line-height: 0.8em;
	}
}

h2 {
	font-family: 'Thunder-Semibold-Italic';
	font-size: px-to-vw(96, $base-width-desktop);
	line-height: 1.1em;
	letter-spacing: 0.04em;
	text-transform: uppercase;

	@media (max-width: 768px) {
		font-size: px-to-vw(36, $base-width-mobile);
	}
}

h3 {
	font-family: 'Thunder-Semibold-Italic';
	font-size: px-to-vw(86, $base-width-desktop);
	line-height: 1.1em;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: $color-white;

	@media (max-width: 768px) {
		font-size: px-to-vw(48, $base-width-mobile);
	}
}

h4 {
	font-family: 'Thunder-Medium-Italic';
	font-size: px-to-vw(64, $base-width-desktop);
	line-height: 1.1em;
	letter-spacing: 0.04em;

	text-transform: uppercase;
	background: linear-gradient(180.76deg, #ffffff 0.66%, #6b6b6b 85.38%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;

	@media (max-width: 768px) {
		font-size: px-to-vw(28, $base-width-mobile);
	}
}

h5 {
	font-size: px-to-vw(24, $base-width-desktop);
	font-family: 'Suisse-Intl-Regular';
	text-transform: uppercase;
	line-height: 110%;
	color: $color-white;

	@media (max-width: 768px) {
		font-size: px-to-vw(12, $base-width-mobile);
	}
}
