@font-face {
	font-family: Thunder-Bold-Italic;
	src: url('/fonts/thunder/Thunder-BoldLCItalic.woff2');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Thunder-Semibold-Italic;
	src: url('/fonts/thunder/Thunder-SemiBoldLCItalic.woff2');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Thunder-Medium-Italic;
	src: url('/fonts/thunder/Thunder-MediumLCItalic.woff2');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Thunder-Medium;
	src: url('/fonts/thunder/Thunder-MediumLC.woff2');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Suisse-Intl-Regular;
	src: url('/fonts/suisse-intl/SuisseIntl-Regular.woff2');
	font-style: normal;
	font-display: swap;
}