@import '../styles/variables';

html {
	scroll-behavior: smooth;
}

// .header, .footer {
//     background: #000;
//     color: white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 200px;
// }

// .su4ka {
//     width: 100vw;
//     height: 100vh;
//     // background-color: rgba(0, 0, 0, 0.514);
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     // color: white;
//     position: sticky;
//     top: 0;

// }

.splitType {
	overflow: hidden;
	font-kerning: none;
	visibility: hidden;
	opacity: 0;
}
