@import './variables';

.fullwidth-image {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    clip-path: polygon(5% 10%, 95% 10%, 95% 90%, 5% 90%);
}

.fullwidth-image img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;

    /* transform: translateY(-20%); */
}

.fullwidth-image__overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: black;
    opacity: 0;
}

.fullwidth-image__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    opacity: 0;
}

.fullwidth-image h2 {
    font-size: 6.4rem;
    margin-bottom: 1.6rem;
}

.fullwidth-image p {
    font-size: 2.4rem;
    max-width: 48ch;
}