@import './variables';

::selection {
    background: $color-blue;
    color: $color-white;
    
}
::-moz-selection {
    background: $color-blue;
    color: $color-white;
}

.lalal {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;

    transition: translate 600ms ease-in-out;
}