@import '/styles/variables';
@import '/styles/functions';

@media (min-width: 769px) {
	.inputContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		background: #2d2e33;
		border: 1px solid #525564;
		border-radius: px-to-vw(17, $base-width-desktop);

		input {
			font-family: 'Suisse-Intl-Regular';
			font-size: px-to-vw(24, $base-width-desktop);
			line-height: 110%;
			color: $color-white;

			width: px-to-vw(450, $base-width-desktop);
			float: left;
			padding-left: px-to-vw(32, $base-width-desktop);
			border-radius: px-to-vw(40, $base-width-desktop);
			border-top-style: none;
			background: #2d2e33;

			&:hover,
			&:active,
			&:focus {
				outline: 0;
			}

			&::-webkit-input-placeholder {
				color: #525564;
			}

			&:-moz-placeholder {
				color: #525564;
				font-weight: normal;
			}

			&:-ms-input-placeholder {
				color: #525564;
				border-style: none;
			}
		}

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			float: right;
			overflow: visible;
		}
	}
}

@media (max-width: 768px) {
	.inputContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		background: #2d2e33;
		border: 1px solid #525564;
		border-radius: px-to-vw(13, $base-width-mobile);

		input {
			font-family: 'Suisse-Intl-Regular';
			font-size: px-to-vw(16, $base-width-mobile);
			line-height: px-to-vw(17.6, $base-width-mobile);
			color: $color-white;

			width: px-to-vw(200, $base-width-mobile);
			float: left;
			padding-left: px-to-vw(20, $base-width-mobile);
			border-radius: px-to-vw(40, $base-width-mobile);
			border-top-style: none;
			background: #2d2e33;

			&:hover,
			&:active,
			&:focus {
				outline: 0;
			}

			&::-webkit-input-placeholder {
				color: #525564;
			}

			&:-moz-placeholder {
				color: #525564;
				font-weight: normal;
			}

			&:-ms-input-placeholder {
				color: #525564;
				border-style: none;
			}
		}

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			float: right;
			overflow: visible;
		}
	}
}
