@import '/styles/variables';

@media (min-width: 769px) {
	.inputContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		background: #2d2e33;
		border: 1px solid #525564;
		border-radius: 1.181vw; //17px, 1440

		input {
			font-family: 'Suisse-Intl-Regular';
			font-size: 1.667vw; //24px, 1440
			line-height: 110%;
			color: $color-white;

			width: 31.25vw; //450px, 1440
			float: left;
			padding-left: 2.222vw; //32px, 1440
			border-radius: 2.778vw; //40px, 1440
			border-top-style: none;
			background: #2d2e33;

			&:hover,
			&:active,
			&:focus {
				outline: 0;
			}

			&::-webkit-input-placeholder {
				color: #525564;
			}

			&:-moz-placeholder {
				color: #525564;
				font-weight: normal;
			}

			&:-ms-input-placeholder {
				color: #525564;
				border-style: none;
			}
		}

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			float: right;
			overflow: visible;
		}
	}
}

@media (max-width: 768px) {
	.inputContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		background: #2d2e33;
		border: 1px solid #525564;
		border-radius: 4.375vw; //13px, 320

		input {
			font-family: 'Suisse-Intl-Regular';
			font-size: 5vw; //16px, 320
			line-height: 5.5vw; //17.6px, 320
			color: $color-white;

			width: 62.5vw; //200px, 320
			float: left;
			padding-left: 6.25vw; //20px, 320
			border-radius: 12.5vw; //40px, 320
			border-top-style: none;
			background: #2d2e33;

			&:hover,
			&:active,
			&:focus {
				outline: 0;
			}

			&::-webkit-input-placeholder {
				color: #525564;
			}

			&:-moz-placeholder {
				color: #525564;
				font-weight: normal;
			}

			&:-ms-input-placeholder {
				color: #525564;
				border-style: none;
			}
		}

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			float: right;
			overflow: visible;
		}
	}
}
