.inputContainer {
	display: inline-block;
	align-items: center;
	// padding: 10px 10px;
	background: #2d2e33;
	border-radius: 16px;
	border: 1px solid #454750;

	input:nth-child(1) {
		font-size: 0.833vw; //16px, 1920
		font-weight: 400;
		line-height: 1.042vw; //20px, 1920
		letter-spacing: -0.02em;
		text-align: left;

		margin-right: 8px;
		margin-left: 24px;
		background: #2d2e33;
		color: #525564;
		font-size: 24px;
		font-family: 'Suisse-Intl-Regular';
	}

	input:nth-child(2) {
		// padding: 0.833vw 1.875vw; //16px 36px, 1920px
        padding: 0 26px;
		border-radius: 16px;
		background-color: white;
		cursor: pointer;
		color: black;
		font-size: 40px;
		font-family: Thunder-Medium;
	}
}
