@import '../../styles/variables';

@media (min-width: 769px) {
	.proprietary {
		&__container {
			position: relative;
			width: 100vw;
			height: 100vh;

			display: flex;
			flex-direction: column;
			justify-content: end;
			align-items: start;
			background-color: #131419;
			padding: $padding-desktop; // $padding-desktop, 1440
			z-index: 5;

			.backgroundImage {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: -1;
				overflow: hidden;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

@media (max-width: 768px) {
	.proprietary {
		&__container {
			position: relative;
			width: 100vw;
			height: 100vw;

			display: flex;
			flex-direction: column;
			justify-content: end;
			align-items: start;
			padding: $padding-mobile; // $padding-mobile, 320
			z-index: 5;

			.backgroundImage {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: -1;
				overflow: hidden;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: 60% 50%;
			}
		}
	}
}
