@import '/styles/variables';
@import '/styles/functions';

@media (min-width: 769px) {
	.links {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: px-to-vw(48, $base-width-desktop);
		text-transform: uppercase;

		li {
			color: $color-white;
			font-size: px-to-vw(20, $base-width-desktop);
			line-height: px-to-vw(24, $base-width-desktop);
			letter-spacing: -2%;
		}
	}
}

@media (max-width: 768px) {
	.links {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: px-to-vw(32, $base-width-mobile);
		text-transform: uppercase;

		li {
			color: $color-white;
			font-size: px-to-vw(20, $base-width-mobile);
			line-height: px-to-vw(24, $base-width-mobile);
			letter-spacing: -2%;
		}
	}
}
