@import '../../../styles/variables';

.links {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 9.722vw; //140px, 1440
	padding: 0 16.667vw; //0 240px, 1440

	ul {
		display: flex;
		flex-direction: column;
		gap: 0.556vw; //8px, 1440
		text-transform: uppercase;

		li {
			color: $color-white;
		}

		li:first-child {
			color: #6c7275;
			padding-bottom: 0.556vw; //8px, 1440
		}
	}
}

@media (max-width: 768px) {
	.links {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		gap: 9.722vw; //140px, 1440
		padding: 0 16.667vw; //0 240px, 1440

		ul {
			display: flex;
			flex-direction: column;
			gap: 0.556vw; //8px, 1440
			text-transform: uppercase;

			li {
				color: $color-white;
			}

			li:first-child {
				color: #6c7275;
				padding-bottom: 0.556vw; //8px, 1440
			}
		}
	}
}
