@import '../../styles/variables';

.navbar {

	transition: opacity 1s ease-in-out;
	&__container {
		position: fixed;
		width: 100%;
		transition: opacity 1s ease-in-out;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 3.125vw $padding-desktop; //45px $padding-desktop, 1440
		z-index: 10;
		// background-color: white;
		transition: background-color 0.6s ease-out;


		&.scrolled {
			background-color: rgba(19, 20, 23, 1);
			z-index: 10;
		}

		img {
			width: 11.111vw; //160px, 1440
			height: 5.972vw; //86px, 1440
			object-fit: contain;
		}

		// .buttonTest {
		// 	display: inline-flex;
		// }
	}
}

@media (max-width: 768px) {
	.navbar {
		transition: opacity 1s ease-in;
		&__container {
			position: fixed;
			width: 100%;
			transition: opacity 1s ease-in;
			z-index: 100;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 10vw $padding-mobile; //32px $padding-mobile, 320
			background-color: transparent;
			// transition: background-color 0.6s ease-out;

			// &.scrolled {
			// 	background-color: rgba(19, 20, 23, 1);
			// 	z-index: 10;
			// }

			img {
				width: 31.25vw; //100px, 320
				height: 16.5vw; //53px, 320
				object-fit: contain;
			}
		}
	}
}

.hide {
	// Adjust the value according to your navbar height
	// top: -100px !important;
	// opacity: 0;
	// transform: translateY(-200px);
	// transition: opacity 1s ease;
	// transition: transform 1s ease;
	// top: -100px !important;
	// transform: translateY(-100%);
	opacity: 0;
	transition: opacity 1s ease-in-out;
}


